<app-nav [userName]="getUserName()"></app-nav>
<div>
  <main role="main" class="main-content">
    <div class="assessment-view">
      <div class="col-10 help-panel">
        <div class="help-panel-title">
          Get ready for your Maths test
        </div>
        <div class="help-panel-links">
          <div class="row">
            <a class="col link-widget selectable-card" id="mathsMoveThrough"
               href="/mathsMoveThrough">
              <p>
                How to move through and answer questions on your Maths test.
              </p>
            </a>
          </div>
        </div>
      </div>

      <div class="test-panel">
        <div class="col-10 test-panel-bg">
          <p>
            Your Maths test
          </p>
        </div>
        <div class="col-10 test-panel-body">
          <div class="row test-row">
            <div class="col test-container">
              <div class="test-details">
                <div class="test-title-icon">
                  <div class="test-title">
                    <p class="test-part">
                      Part 1:
                    </p>
                    <p class="test-name">
                      Trigonometry
                    </p>
                  </div>
                  <div class="test-status-icon paused">
                  </div>
                </div>
                <p class="test-status">
                  This test was started on : 17/08/2022
                </p>
                <p class="test-action">
                  <a id="resume-test" data-test-id="731ade5f-82df-4f40-abf3-0e4a2010af73"
                     class="btn btn-pri btn-next mr-2 launch-test-btn">
                    Resume test
                  </a>
                </p>
              </div>
            </div>
            <div class="col test-container">
              <div class="test-details">
                <div class="test-title-icon">
                  <div class="test-title">
                    <p class="test-part">
                      Part 2:
                    </p>
                    <p class="test-name">
                      Calculus
                    </p>
                  </div>
                  <div class="test-status-icon start-disabled">
                  </div>
                </div>
                <p class="test-status">
                  Unavailable
                </p>
                <p class="test-action">
                  Complete 'Part 1' to unlock 'Part 2'
                </p>
              </div>
            </div>
            <div class="col test-container">
              <div class="test-details">
                <div class="test-title-icon">
                  <div class="test-title">
                    <p class="test-part">
                      Part 3:
                    </p>
                    <p class="test-name">
                      Combinatorics
                    </p>
                  </div>
                  <div class="test-status-icon start-disabled">
                  </div>
                </div>
                <p class="test-status">
                  Unavailable
                </p>
                <p class="test-action">
                  Complete 'Part 2' to unlock 'Part 3'
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="confirmStartTest" data-backdrop="static" data-keyboard="false" tabindex="-1"
           aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content rounded-0">
            <div class="modal-body ml-4 mr-4" style="text-align: center;">
              Are you sure you want to start the test?
            </div>
            <div class="m-auto pb-3">
              <button type="button" class="btn btn-ok" id="confirm-start-yes" data-dismiss="modal">Yes</button>
              <button type="button" class="btn btn-no ml-3" id="confirm-start-no" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<app-footer></app-footer>
