<app-nav [userName]="getUserName()"></app-nav>
<div>
  <main role="main" class="main-content">
    <div class="assessment-view">
      <div class="col-10 help-panel">
        <div class="help-panel-title">
          Get ready for your Maths test
        </div>
        <div class="help-panel-links">
          <div class="row">
            <a class="col link-widget selectable-card"
               href="/mathsMoveThrough">
              <p>
                How to move through and answer questions on your Maths test.
              </p>
            </a>
          </div>
        </div>
      </div>

      <div class="test-panel">
        <div class="col-10 test-panel-bg">
          <p>
            Your Maths test
          </p>
        </div>
        <div class="col-10 test-panel-body">
            <div class="row test-row">
            <div class="col test-container" *ngFor="let test of tests">
              <div class="test-details">
                <div class="test-title-icon">
                  <div class="test-title">
                    <p class="test-part">
                      Part: {{test.part}}
                    </p>
                    <p class="test-name">
                      {{test.subject}}
                    </p>
                  </div>
                  <div (click)="pauseTest(test)" *ngIf="!isPaused(test) && test.started === true" class="test-status-icon paused">
                 </div>
                  <div (click)="unpauseTest(test)" *ngIf="isPaused(test) && test.started === true && test.status === 'Available'" class="test-status-icon start-enabled">
                  </div>
                  <div (click)="startTest(test)" *ngIf="test.started === false && test.status === 'Available'" class="test-status-icon start-enabled">
                  </div>
                  <div *ngIf="test.started === false && test.status === 'Unavailable'" class="test-status-icon start-disabled">
                  </div>
                </div>
                <p *ngIf="test.started === true" class="test-status">
                  This test was started on : {{startTime(test) | date: 'dd MMM yyyy hh:mm a'}}
                </p>
                <p class="test-status" *ngIf="test.started === false">
                  {{test.status}}
                </p>
                <p *ngIf="test.status === 'Unavailable' && test.part !==1" class="test-action">
                  Complete 'Part {{test.part - 1}}' to unlock 'Part {{test.part}}'
                </p>
                <p class="test-action" *ngIf="test.status === 'Available'">
                  <a (click)="startTest(test)" *ngIf="test.started === false" class="btn btn-pri btn-next mr-2 launch-test-btn">
                    Start test
                  </a>
                  <a (click)="unpauseTest(test)" *ngIf="isPaused(test) && test.started === true" class="btn btn-pri btn-next mr-2 launch-test-btn">
                    Resume test
                  </a>
                  <a (click)="pauseTest(test)" *ngIf="!isPaused(test) && test.started === true" class="btn btn-pri btn-next mr-2 launch-test-btn">
                    Pause test
                  </a>
                </p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </main>
</div>
<app-footer></app-footer>
