.main-content {
  min-height: calc(100vh - 7rem);
  background-color: #f5f5f3;
}

.mr-2, .mx-2 {
  margin-right: 0.5rem!important;
}

.main-content .confirm-card-body .confirmation-buttons .btn-next {
  margin-left: 10%!important;
}

.btn-sec {
  border-color: #bf4612!important;
}

.btn-next:after, .btn-prev:before {
  font-weight: 700;
}
